@import '../../mixins';
@import '../../variables';
@import '../../layouts';

.us-container {
  &__slider {
    @extend %full-width;
    position: relative;
    &__claim {
      z-index: 999;
      position: absolute;
      height: 100%;
      width: 80%;
      margin: 0 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include breakpoint(sm) {
        width: 60%;
        margin: 0 20%;
      }
      .company-logo {
        width: 25%;
        margin-bottom: 2rem;
      }
      h2 {
        color: white;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      p {
        color: white;
        text-align: justify;
      }
    }
    .image-wrapper {
      display: flex !important;
      align-items: center;
      justify-content: center;
      height: 800px;
      width: 100%;
      @include breakpoint(sm) {
        height: 650px;
      }
      &:before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        background-color: rgba(black, 0.8);
      }
      img {
        width: auto;
        @include breakpoint(sm) {
          width: 100%;
        }
      }
    }
  }
}