@import '../../mixins';
@import '../../variables';

.alert-wrapper {
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  border-top-width: .5rem;
  border-top-style: solid;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  &.is-error {
    border-top-color: $secondary_dark;
  }
  &.is-warning {
    border-top-color: $secondary_light;
  }
  &.is-success {
    border-top-color: $primary_light;
  }
  &.is-info {
    border-top-color: $primary_light;
  }
  &__icon {
    .is-error & {
      color: $secondary_dark;
    }
    .is-warning & {
      color: $secondary_light;
    }
    .is-success & {
      color: $primary_light;
    }
    .is-info & {
      color: $primary_light;
    }
  }
  &__text {
    margin-left: 1rem;
  }
}