@import '../../../../../mixins';
@import '../../../../../variables';

.presential-modal-content {
  @include breakpoint(sm) {
    width: 80vh;
    height: 60vh;
  }
  &__info {
    margin-bottom: 2rem;
  }
  &__form {
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      button {
        align-self: flex-end;
      }
    }
    &__field {
      margin: 1rem 0 !important;
      :first-child {
        margin-top: 0 !important;
      }
    }
  }
}

.presential-modal-actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  justify-content: space-between;
  width: 100%;
  button {
    width: 100%;
  }
  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: .6rem 1rem;
    border-radius: .2rem;
  }
}