@import '../../mixins';
@import '../../variables';

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9a0007;
  background: -moz-linear-gradient(-45deg, #9a0007 0%, #363636 100%);
  background: -webkit-linear-gradient(-45deg, #9a0007 0%, #363636 100%);
  background: linear-gradient(135deg, #9a0007 0%, #363636 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a0007', endColorstr='#363636', GradientType=1);
  &__back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    p {
      display: none;
      color: $primary_contrastText;
      @include breakpoint(sm) {
        display: block;
      }
    }
    svg {
      fill: $primary_contrastText;
    }
  }
  &__box {
    width: 100%;
    height: 100%;
    @include breakpoint(sm) {
      width: 40rem;
      height: auto;
    }
    &__form {
      padding: 0rem 3rem 3rem 3rem;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        button {
          margin: 2rem 0 0 0;
        }
      }
      &__field {
        margin: 1rem 0 !important;
        :first-child {
          margin-top: 0 !important;
        }
      }
    }
    &__head {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
                      rgba(0, 0, 0, 0.45),
                      rgba(0, 0, 0, 0.45)
      ), url('../../assets/img/header-banner-1.jpg') center 60% no-repeat;
      h3 {
        color: $primary_contrastText;
      }
    }
  }
}