@import '../../mixins';
@import '../../variables';

.signup-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9a0007;
  background: -moz-linear-gradient(-45deg, #9a0007 0%, #363636 100%);
  background: -webkit-linear-gradient(-45deg, #9a0007 0%, #363636 100%);
  background: linear-gradient(135deg, #9a0007 0%, #363636 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a0007', endColorstr='#363636', GradientType=1);
  &__back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 10%;
    cursor: pointer;
    @include breakpoint(sm) {
      top: 5%;
      left: 5%;
    }
    p {
      display: none;
      color: $secondary_main;
      @include breakpoint(sm) {
        display: block;
        color: $secondary_contrastText;
      }
    }
    svg {
      fill: $secondary_main;
      @include breakpoint(sm) {
        fill: $secondary_contrastText;
      }
    }
  }
  &__box {
    width: 100%;
    padding: 0rem 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(sm) {
      width: 40rem;
      height: auto;
      padding: 3rem;
    }
    &__form {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        button {
          margin: 2rem 0 0 0;
        }
      }
      &__field {
        margin: 1rem 0 0 0 !important;
        @include breakpoint(sm) {
          margin: 1rem 0 !important;
        }
        :first-child {
          margin-top: 0 !important;
        }
      }
    }
    &__head {
      p {
        color: $primary_light;
      }
    }
  }
}