@import '../../mixins';
@import '../../variables';

.main-container {
  flex-grow: 1;
  &__app-bar {
    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20%;
      }
      @include breakpoint(sm) {
        position: absolute;
        width: 85px;
        height: 85px;
        margin-left: 2%;
        margin-top: 5px;
        img {
          width: 100%;
        }
      }
    }
    &__tabs {
      flex-grow: 1;
    }
    .mobile-isotype {
      color: white;
    }
  }

  &__router-wrapper {
    max-width: $main_grid;
    padding: 0 $main_padding $main_padding $main_padding;
    margin: 56px auto 0 auto;
    @include breakpoint(sm) {
      margin-top: 64px;
    }
  }
}