@import '../../mixins';
@import '../../variables';

.main-loader {
  &-container {
    position: fixed;
    background-color: rgba($primary_dark, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    &__progress {
      color: white !important;
    }
  }
}