@import '../../mixins';
@import '../../variables';

.service-container {
  &__header {
    background: linear-gradient(
                    rgba(0, 0, 0, 0.45),
                    rgba(0, 0, 0, 0.45)
    ), url('../../assets/img/header-banner-1.jpg') 70% 60% no-repeat;
    @include breakpoint(sm) {
      background-position: center 60%;
    }
    > div {
      min-height: 10rem;
    }
    &__navigation-buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include breakpoint(sm) {
        align-items: center;
        flex-direction: row;
      }
      a {
        text-decoration: none;
        margin-top: 1rem;
        @include breakpoint(sm) {
          &:first-child {
            margin-left: 0;
          }
          margin-left: 1rem;
        }
      }
    }
  }
}