@import '../../../../mixins';
@import '../../../../variables';

.service-training-wrapper {
  .presential-training-wrapper {
    margin-bottom: 1rem;
    &__card {
      .presential-card {
        display: flex;
        flex-direction: column;
        @include breakpoint(sm) {
          flex-direction: row;
        }
        &__media {
          overflow: hidden;
          min-height: 10rem;
          background: url('../../../../assets/img/services-image-1.jpg') no-repeat 50% 50%;
          background-size: cover;
          @include breakpoint(sm) {
            flex-basis: 35%;
          }
          img {
            width: 100%;
          }
        }
        &__content {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          @include breakpoint(sm) {
            flex-basis: 65%;
          }
        }
      }
    }
  }
  .online-training-wrapper {
    display: flex;
    flex-direction: column;
    &__cards {
      display: flex;
      flex-direction: column;
      @include breakpoint(sm) {
        flex-direction: row;
        justify-content: space-between;
      }
      .online-card {
        margin: 1rem 0;
        flex-basis: 100%;
        @include breakpoint(sm) {
          flex-basis: 30%;
        }
        &__media {
          height: 10rem;
        }
      }
    }
  }
}