@import './variables';
@import '~animate.css';
@import './layouts';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.full-width {
  @extend %full-width;
  > div {
    max-width: $main_grid;
    padding: $main_padding;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.basic-header {
  min-height: 10rem;
  margin-bottom: $main_padding;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}