@import './variables';

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $mobile) { @content; }
  }

  @else if $class == sm {
    @media (min-width: $tablet) { @content; }
  }

  @else if $class == md {
    @media (min-width: $desktop) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $main_grid) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}