// Layout
$main_padding: 20px;
$main_grid: 1200px;
$mobile: 767px;
$tablet: 768px;
$desktop: 992px;

// Colors
$primary_light: #8d8d8d;
$primary_main: #606060;
$primary_dark: #363636;
$primary_contrastText: #ffffff;

$secondary_light: #ff6659;
$secondary_main: #d32f2f;
$secondary_dark: #9a0007;
$secondary_contrastText: #ffffff;